:root {
  --primary: #FF623F;
  --primary_dark: #ff623f87;
  --secondary: #222627;
  --color-3: #C6B7B0;
  --color-4: #686B64;
  --color-5: #DCDCDE;
  --color-6: #42483A;
  --color-7: #AAA59F;
  --black: #0C0C0A;
  --white: #F2F0F3;
  --white-transparent-05: rgb(255, 255, 255, 0.5);
  --red: #92050a;
  --purple: #4444dd;
  --yellow: #ffae52;
  --blue: #15b1f9;
  --green: #5ed36f;
}